* {
    font-family:Arial, Helvetica, sans-serif;
    /* margin-left: 10px; */
}

.subtitle {
    font-style: italic;
    font-size: smaller;
    text-align: center;
}

.homepage-img{
    height: auto;
    width: 400px;
    display: block;
    margin: 0 auto;
}

.homepage-img:hover {
    filter:invert(1);
}

h1 {
    text-align: center;
}

.maintext{
    /* max-width: 90%; */
    text-align: justify;
    font-size: 15px;
}

.minibutton{
    font-size: smaller;
    background-color: rgb(222, 214, 214);
    border-radius: 5px;
    width: fit-content;
    padding: 8px;
    margin: 0 auto;
    
}

.minibutton:hover{
    background-color: antiquewhite;
}

.minibutton a{
    text-decoration: none;
    color: black;
}

.recipe-list{
    list-style-type: kannada;
}

.recipe-list a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 3px 8px;
    width: fit-content;
    border-radius: 5px;
}
.recipe-list a:hover {
    text-decoration: none;
    color: rgb(206, 173, 173);
    background-color: rgb(142, 69, 69);
}

.ingredients {
    background-color: antiquewhite;
    border-radius: 5px;
    margin: 40px 4px;
    box-sizing: border-box;
    padding: 15px 15px;
    width: max-content;
}

.ingredients h3 {
    margin-top: 0;
    padding: 0;
}

.ingredients ul {
    margin-bottom: 0;
}

.ingredients ul li {
    list-style-type: kannada;
}

.quote p {
    font-style: italic;
    font-size: 14px;
    text-align: justify;
}

.quote .name {
    font-style: normal;
    text-align: right;
}